DB_HOST=129.153.116.213
DB_PORT=5432
DB_USER=evolution
DB_PASSWORD=evolution
DB_NAME=evolution

NEXT_PUBLIC_EVOLUTION_API_URL=http://129.153.116.213:8080
EVOLUTION_API_KEY=my_super_secret_key_123
NEXT_PUBLIC_EVOLUTION_INSTANCE=gym_bot
